header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.article{
    flex-grow: 1;
    justify-content: space-evenly;
    flex-basis:300px;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
}