.image-container{
    position: relative;
}
img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
.image-button{
position: absolute;
top:50%;
left: 50vw;
transform: translate(-50%, -50%);
text-align: center;
width: 200px;
background-color: bisque;
height: 50px;
line-height: 50px;
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
opacity: 0.5;
cursor: pointer;
}
.image-button:hover{
    opacity: 1;
}