.text{
    position: relative;
    display: inline-block;
    padding: 16px;
    text-decoration: underline 1px dotted black;
}
.text:hover .tooltip{
    display: block;
}
.tooltip{
    display: none;
    position: absolute;
    margin: 0px;
    bottom: -40px;
    background-color: grey;
    border-radius: 4px;
    padding: 8px;
    color: white;
}