.text{
    display: inline-block;
    padding: 16px;
}
.hover{
    border-bottom:  1px dotted black;
}
.tooltip{
    display: block;
    text-decoration: none ;
    position: relative;
    background-color: grey;
    border-radius: 4px;
    padding: 8px;
    bottom: -40px;
    color: white;
}