*{
    box-sizing: border-box;
}
table{
    margin: 16px;
    border: 1px solid black;
    border-collapse: collapse;
   
}
td{
height: 50px;
width: 50px;
text-align: center;
border: solid black 1px;
border-collapse: collapse;
}

tr:nth-child(even) td:nth-child(odd){
    background-color: black;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}
tr:nth-child(1) td:nth-child(odd){
    background-color: white;
}
#first td{
    background-color: white;
    border:none
}
#last td{
    background-color: white;
    border:none;
}
.row td:first-child{
    background-color: white !important;
    border: none;
}
.row td:last-child{
    background-color: white !important;
    border: none;
}


