*{
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}
header, footer{
    height: 40px;
}
header{
    background-color: yellow;
    display: flex;
    align-items: center;
}
footer{
    background-color: green;
    display: flex;
       align-items: center;
    justify-content: center;
}


nav{
    display: flex;
    align-items: center;
}
nav > ul{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
nav > ul > li{
    height: 100%;
    display: flex;
    line-height: 40px;
    margin-left: 16px;
}

main{
    background-color: black;
    flex-grow: 1;
    display: flex ;
}
section{
    background-color: pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
aside{
    width: 200px;
    background-color: grey;
}

aside > h2{
    text-align: center;
    margin: 16px 0 16px 0;
}
aside > ul{
    line-height: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
aside > ul > li{
margin-left:16px;
}
