div{
    height: 200px;
    width: 100%;
    float: inline-start;

}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.block_red{
    background-color: red;
}
.block_green{
    background-color: green;
}
.block_blue{
    background-color: blue;
}
.block_yellow{
    background-color: yellow;
}
.block_black{
    background-color: black;
}